* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.bar {
  max-width: 30%;
  width: 20%;
  height: 791px;
  z-index: 1;
  background: #fff;
  box-shadow: 2px 0 6px 0 rgba(91, 91, 91, 0.1);
}
.bar__content {
  width: 100%;
  height: 100%;
  padding: 21px 0 28px;
}
.bar__content-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
.bar__content-logo img {
  width: 172px;
  height: 117px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bar__content-menu {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.bar__menu-list {
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.bar__menu-list.active {
  height: 250px;
}
.bar__menu-list.active img {
  transform: rotate(180deg);
}
.bar__menu-list.active .bar__name-link {
  color: #e31e24;
}
.bar__list-name {
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bar__list-name img {
  transition: all 0.3s ease-in;
}
.bar__name-link {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: 150%;
  transition: all 0.3s ease-in;
}
.bar__list-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  margin: 12px 0 0 32px;
  height: 212px;
}
.bar__list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  line-height: 150%;
}
.bar__lacatia-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  line-height: 150%;
}
.bar__content-lacatia {
  width: 195px;
  margin: 20px 30px 20px 35px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
.bar__lacatia-link {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}
.bar__lacatia-link:nth-child(2) {
  align-items: center;
}
.bar__link-logo {
  width: 22px;
  height: 22px;
  max-height: 100%;
  background: #e31e24;
  border-radius: 100%;
  padding: 2px;
}
.bar__content-btn {
  margin: 0 35px 0 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #e31e24;
  text-decoration: underline;
}
.bar__content-social {
  margin: 20px 0 0 30px;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 80%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  line-height: 150%;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: justify;
  line-height: 150%;
}

.rectangele {
  width: 23px;
  height: 112px;
}

.header {
  display: block;
  height: 40px;
  padding: 10px 0;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-left: 65px;
}
.header__content-menu a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  transition: all 0.3s ease-in;
}
.header__content-menu a:hover {
  color: #e31e24;
}
.header__content-download a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  transition: all 0.3s ease-in;
}
.header__content-download a:hover {
  color: #e31e24;
}

.maps {
  width: 1182px;
  height: 751px;
  margin: 0 auto;
  overflow: hidden;
}
.maps__link {
  position: relative;
}
.maps__link-maps {
  height: 751px;
}
.maps__link-maps img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.maps__link .top {
  flex: 0 1 33%;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.maps__link .top:hover {
  opacity: 1;
}
.maps__link-body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.maps__link-tot {
  position: absolute;
  top: 0px;
  right: 420px;
  z-index: 0;
}
.maps__link-tot .maps__body-logo {
  position: absolute;
  top: 20px;
  right: 148px;
  z-index: 1;
}
.maps__link-right {
  position: absolute;
  left: 715px;
  top: 73px;
  z-index: 0;
}
.maps__link-right .maps__body-logo {
  position: absolute;
  top: 18px;
  left: 265px;
  z-index: 1;
}
.maps__link-left {
  position: absolute;
  bottom: 160px;
  left: 6px;
  z-index: 0;
}
.maps__link-left .maps__body-logo {
  position: absolute;
  bottom: 415px;
  left: 260px;
  z-index: 1;
}
.maps__link-bottom {
  position: absolute;
  bottom: 7px;
  right: 75px;
  z-index: 0;
}
.maps__link-bottom .maps__body-logo {
  position: absolute;
  right: 341px;
  bottom: 390px;
  z-index: 1;
}

.about {
  margin: 88px 0;
}
.about__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.about__content-rectangle {
  background: #e31e24;
}
.about__content-info {
  width: 1016px;
}
.about__info-text {
  margin: 36px 0 32px;
}
.about__info-time {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.about__item-body {
  width: 54px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 97px;
  border-right: 1px solid #5b5b5b;
}
.about__item-body:nth-last-child(1) {
  border: none;
}
.about__body-number {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #e31e24;
}
.about__body-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.advantages__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.advantages__content-rectangele {
  background: #5b5b5b;
}
.advantages__info-subinfo {
  width: 905px;
  margin-left: 5%;
}
.advantages__subinfo-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-bottom: 24px;
}

.card {
  margin-top: 80px;
}
.card__content-wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.card__wrap-flex {
  max-width: 47%;
}
.card__flex-info {
  max-width: 397px;
  margin: 24px auto;
}
.card__info-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-bottom: 24px;
}
.card__info-text {
  font-weight: 300;
}
.card__bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.infrastructure {
  margin: 95px 0;
}
.infrastructure__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.infrastructure__content-rectangle {
  background: #e31e24;
}
.infrastructure__content-info {
  width: 1024px;
}
.infrastructure__content-title {
  margin-bottom: 35px;
}
.infrastructure .tabs {
  width: 491px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infrastructure .tab {
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  padding-bottom: 16px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 0.3s ease-in;
}
.infrastructure .tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  border-bottom: 2px solid #e31e24;
  transition: all 0.3s ease-in;
}
.infrastructure .tab.active {
  color: #000;
  font-weight: 500;
}
.infrastructure .tab.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #e31e24;
}
.infrastructure .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  scale: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.infrastructure .tab-content.active {
  scale: 1;
  opacity: 1;
}
.infrastructure .tab__content-info {
  margin-bottom: 43px;
}
.infrastructure .tab__info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.infrastructure .tab__flex-info {
  padding: 10px;
  width: 267px;
  height: 54px;
  background: #a6a6a6;
}
.infrastructure .tab__flex-info.red {
  background: #e31e24;
}
.infrastructure .tab__info-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.infrastructure__tab-content {
  position: relative;
  height: 689px;
}

.terms__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.terms__content-rectangle {
  background: #5b5b5b;
}
.terms__content-body {
  width: 1024px;
}
.terms__body-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.terms__wrap-flex {
  border: 0.5px solid #000;
  padding: 20px;
  width: 320px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in;
}
.terms__wrap-flex:hover {
  background: #e31e24;
}
.terms__wrap-flex:hover .terms__flex-img svg {
  stroke: #fff;
}
.terms__wrap-flex:hover .terms__info-title {
  color: #fff;
}
.terms__wrap-flex:hover .terms__info-text {
  color: #fff;
}
.terms__flex-img svg {
  stroke: #000;
  transition: all 0.3s ease-in;
}
.terms__flex-info {
  width: 179px;
}
.terms__info-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #e31e24;
  line-height: 150%;
  transition: all 0.3s ease-in;
}
.terms__info-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 150%;
  transition: all 0.3s ease-in;
}/*# sourceMappingURL=style.css.map */